.mvp-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    mat-list {
        width: auto;
    }

    .img-container {
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: auto;
            height: 200px;
        }

        .team-logo {
            width: auto;
            height: 64px;
        }
    }


    .test .mat-list-item {
        font-family: 'monoReg';
    }
}