.mvp-container {
    display: flex;
    flex-direction: row;

    mat-list {
        width: 33%;
    }

    .img-container {
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: auto;
            height: 200px;
        }
    }

}