<mat-toolbar class="toolbar">
  <span>DASHBOARD</span>
</mat-toolbar>


<mat-tab-group >
  <mat-tab label="OVERLAY CONTROLS">
    <app-dashboard-controls></app-dashboard-controls>
  </mat-tab>
  <mat-tab label="MANAGE TEAMS">
    <div class="manage-container">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>Upload team data using excel sheet</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <input type="file" (change)="onFileChange($event)" />
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="primary" (click)="saveData()">Upload</button>
          <button mat-raised-button color="accent" (click)="deleteExcelDataSequentially()">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="table-container full-height">
      <mat-card>
      <table mat-table [dataSource]="dataSource" class="team-table mat-elevation-z8" *ngIf="dataSource" >
    
        <ng-container matColumnDef="teamId">
          <th mat-header-cell *matHeaderCellDef> Slot Id </th>
          <td mat-cell *matCellDef="let element"> {{element.teamId}} </td>
        </ng-container>
      
        <ng-container matColumnDef="teamName">
          <th mat-header-cell *matHeaderCellDef> Team Name </th>
          <td mat-cell *matCellDef="let element" [ngClass]=""> {{element.teamName}} </td>
        </ng-container>
     
        <ng-container matColumnDef="teamTag">
          <th mat-header-cell *matHeaderCellDef> Team Tag </th>
          <td mat-cell *matCellDef="let element"> {{element.teamTag}} </td>
        </ng-container>
    
        <ng-container matColumnDef="teamLogo64">
          <th mat-header-cell *matHeaderCellDef> Logo </th>
          <td mat-cell *matCellDef="let element"><img [src]="element.teamLogo" /></td>
        </ng-container>

        <ng-container matColumnDef="member1">
          <th mat-header-cell *matHeaderCellDef> MEMBER 1 </th>
          <td mat-cell *matCellDef="let element"> {{element.member1}} </td>
        </ng-container>

        <ng-container matColumnDef="member2">
          <th mat-header-cell *matHeaderCellDef> MEMBER 2 </th>
          <td mat-cell *matCellDef="let element"> {{element.member2}}  </td>
        </ng-container>

        <ng-container matColumnDef="member3">
          <th mat-header-cell *matHeaderCellDef> MEMBER 3 </th>
          <td mat-cell *matCellDef="let element"> {{element.member3}}  </td>
        </ng-container>

        <ng-container matColumnDef="member4">
          <th mat-header-cell *matHeaderCellDef> MEMBER 4 </th>
          <td mat-cell *matCellDef="let element"> {{element.member4}}  </td>
        </ng-container>

        <ng-container matColumnDef="member5">
          <th mat-header-cell *matHeaderCellDef> MEMBER 5 </th>
          <td mat-cell *matCellDef="let element"> {{element.member5}}  </td>
        </ng-container>
      
        <tr mat-header-row class="row-header" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="MATCH STANDING">
    <div class="container">
      <app-match-standing ></app-match-standing>
    </div>

  </mat-tab>
  <mat-tab label="INTEGRAL STANDING">
    <div class="container">
      <app-total-match-standing ></app-total-match-standing>
    </div>

  </mat-tab>
  <mat-tab label="GAME STANDING">
    <app-game-standing></app-game-standing>
  </mat-tab>
  <mat-tab label="POST MATCH STATS">
    <app-player-stats></app-player-stats>
  </mat-tab>
  <mat-tab label="PLAYER MATCH STATS">
    <app-player-match-stats></app-player-match-stats>
  </mat-tab>
  <mat-tab label="CUMUL MATCH STATS">
    <app-cumul-team-stats></app-cumul-team-stats>
  </mat-tab>
  <!-- <mat-tab label="MAP">
    <app-live-map></app-live-map>
  </mat-tab> -->
</mat-tab-group>


  



