<!-- <div class="background">

    <div class="table-container">
        <div class="top8-container" >
            <table mat-table class="top5-table" [dataSource]="dataSourceLeft">
        
              <ng-container matColumnDef="rank">
                <th mat-header-cell *matHeaderCellDef> #</th>
                <td mat-cell class="top5Cell playerNameCell" *matCellDef="let element; let i = index"> {{i + 1}} </td>
              </ng-container>
          
              <ng-container matColumnDef="teamLogo">
                <th mat-header-cell class="top5Header" *matHeaderCellDef></th>
                <td mat-cell class="top5Cell" *matCellDef="let element">
                    <img [src]="element.teamLogo" />
                </td>
              </ng-container>
          
              <ng-container matColumnDef="teamName">
                <th mat-header-cell *matHeaderCellDef> TEAM NAME </th>
                <td mat-cell class="top5Cell" *matCellDef="let element"> {{element.teamName}} </td>
              </ng-container>
    
              <ng-container matColumnDef="placement">
                <th mat-header-cell *matHeaderCellDef> PLC </th>
                <td mat-cell class="top5Cell" *matCellDef="let element"> {{element.placementPoints}} </td>
              </ng-container>
    
              <ng-container matColumnDef="elims">
                <th mat-header-cell *matHeaderCellDef> ELIMS </th>
                <td mat-cell class="top5Cell" *matCellDef="let element"> {{element.killNum}} </td>
              </ng-container>
    
              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> TOTAL </th>
                <td mat-cell class="top5Cell" *matCellDef="let element"> {{element.totalPoints}} </td>
              </ng-container>
          
              <tr mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row class="top5-damage-row" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
           </div>
    
    
           <div class="top8-container" >
            <table mat-table class="top5-table" [dataSource]="dataSourceRight">
        
              <ng-container matColumnDef="rank">
                <th mat-header-cell *matHeaderCellDef> #</th>
                <td mat-cell class="top5Cell playerNameCell" *matCellDef="let element; let i = index"> {{i + 9}} </td>
              </ng-container>
          
              <ng-container matColumnDef="teamLogo">
                <th mat-header-cell class="top5Header" *matHeaderCellDef></th>
                <td mat-cell class="top5Cell" *matCellDef="let element">
                    <img [src]="element.teamLogo" (error)="handleImgError($event)" />
                </td>
              </ng-container>
          
              <ng-container matColumnDef="teamName">
                <th mat-header-cell *matHeaderCellDef> TEAM NAME </th>
                <td mat-cell class="top5Cell" *matCellDef="let element"> {{element.teamName}} </td>
              </ng-container>
    
              <ng-container matColumnDef="placement">
                <th mat-header-cell *matHeaderCellDef> PLC </th>
                <td mat-cell class="top5Cell" *matCellDef="let element"> {{element.placementPoints}} </td>
              </ng-container>
    
              <ng-container matColumnDef="elims">
                <th mat-header-cell *matHeaderCellDef> ELIMS </th>
                <td mat-cell class="top5Cell" *matCellDef="let element"> {{element.killNum}} </td>
              </ng-container>
    
              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> TOTAL </th>
                <td mat-cell class="top5Cell" *matCellDef="let element"> {{element.totalPoints}} </td>
              </ng-container>
          
              <tr mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row class="top5-damage-row" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
           </div>
    </div>

</div> -->

<!-- <div class="results-container">
  <div class="table">
    <div class="table-column">
      <div class="table-header">
        <div class="table-row">
          <div class="cell">#</div>
          <div class="cell">Team Name</div>
          <div class="cell">PLC</div>
          <div class="cell">Elims</div>
          <div class="cell">Total</div>
        </div>
      </div>
      <div class="table-body">
      
        <div class="custom-row" *ngFor="let team of leftDataSource; let i = index">
          <div class="cell">{{ i + 1 }}</div>
          <div class="cell">{{ team['teamName'] }}</div>
          <div class="cell">{{ team['placementPoints'] }}</div>
          <div class="cell">{{ team['killNum'] }}</div>
          <div class="cell">{{ team['totalPoints'] }}</div>
        </div>
      </div>
    </div>
    <div class="table-column">
      <div class="table-header">
        <div class="table-row">
          <div class="cell">#</div>
          <div class="cell">Team Name</div>
          <div class="cell">PLC</div>
          <div class="cell">Elims</div>
          <div class="cell">Total</div>
        </div>
      </div>
      <div class="table-body">
        <div class="table-row" *ngFor="let team of rightDataSource; let i = index">
          <div class="cell">{{ i + 9 }}</div>
          <div class="cell">{{ team['teamName'] }}</div>
          <div class="cell">{{ team['placementPoints'] }}</div>
          <div class="cell">{{ team['killNum'] }}</div>
          <div class="cell">{{ team['totalPoints'] }}</div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="background">
  <div class="table-container">
    <div class="top8-container" >
      <div class="custom-row" *ngFor="let team of leftDataSource; let i = index">
        <div class="rank">{{ i + 1 }}</div>
          <div class="teamName"><img [src]="team['teamLogo']" (error)="handleImgError($event)" />{{ team['teamName'] }}</div>
          <div class="placementPoints">{{ team['placementPoints'] }}</div>
          <div class="killNum">{{ team['killNum'] }}</div>
          <div class="totalPoints">{{ team['totalPoints'] }}</div>
        </div>
       </div>

          <div class="top8-container" >
            <div class="custom-row" *ngFor="let team of rightDataSource; let i = index">
              <div class="rank">{{ i + 9 }}</div>
              <div class="teamName"><img [src]="team['teamLogo']" (error)="handleImgError($event)" />{{ team['teamName'] }}</div>
              <div class="placementPoints">{{ team['placementPoints'] }}</div>
              <div class="killNum">{{ team['killNum'] }}</div>
              <div class="totalPoints">{{ team['totalPoints'] }}</div>
          </div>
            </div>
          </div>
          </div>