@font-face {
    font-family: 'superBlackItalic';
    src: url('./TT-Supermolot-Black-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'superBold';
    src: url('./TT-Supermolot-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'superBlack';
    src: url('./TT-Supermolot-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'superBoldItalic';
    src: url('./TT-Supermolot-Bold-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'superItalic';
    src: url('./TT-Supermolot-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'superLightItalic';
    src: url('./TT-Supermolot-Light-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'superLight';
    src: url('./TT-Supermolot-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'superReg';
    src: url('./TT-Supermolot-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'superThinItalic';
    src: url('./TT-Supermolot-Thin-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'superThin';
    src: url('./TT-Supermolot-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'superNeueExpBold';
    src: url('./TTSupermolotNeue-ExpDBold.ttf') format('truetype');
}

@font-face {
    font-family: 'superNeueBlack';
    src: url('./TTSupermolotNeue-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'superNeueExpReg';
    src: url('./TTSupermolotNeue-ExpRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'superNeueExpbd1';
    src: url('./TTSupermolotNeueExpanded-ExBd1.ttf') format('truetype');
}