<div class="body">
    <mat-card>
        <form [formGroup]="matchForm" *ngIf="matchForm">
        <mat-card-header>
            <mat-card-subtitle *ngIf="casterDisabled" >Calculate the specific Player match standing</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Select Match</mat-label>
                <mat-select formControlName="match" (selectionChange)="onMatchSelected($event.value)">
                  <mat-option *ngFor="let match of MATCHES" [value]="match.id">
                    {{match.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <br>

                <span *ngIf="casterDisabled" >Players stats generated : {{this.playerStatsLenght}}</span>
              <div class="stats-container">
                <span  *ngFor="let player of playerStatsLengths; let i = index" [matBadge]="player" 
                [ngStyle]="{'background-color' : player > 0 ? 'green' : 'red'}" > {{ i + 1 }} MATCH </span>     
            </div>
              
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="accent" *ngIf="casterDisabled" (click)="getPlayerMatchStats()">GENERATE STATS</button>
            <button mat-raised-button color="primary" *ngIf="casterDisabled" [disabled]="!(matchForm.valid && playerInfoList.length>0)" (click)="savePlayerStats()">UPLOAD</button>
        </mat-card-actions>
        </form>
    </mat-card>


    <div class="table-container">
        <mat-card>
        <table mat-table [dataSource]="dataSource"  class="team-table mat-elevation-z8" *ngIf="dataSource" matSort>

            <ng-container matColumnDef="rank">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> RANK </th>
                <td mat-cell *matCellDef="let element">{{element.rank}}</td>
              </ng-container>

            <ng-container matColumnDef="playerName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> PLAYER NAME </th>
              <td mat-cell *matCellDef="let element"> {{element.playerName}} </td>
            </ng-container>
           
            <ng-container matColumnDef="teamLogo">
              <th mat-header-cell *matHeaderCellDef> LOGO </th>
              <td mat-cell *matCellDef="let element"><img [src]="element.teamLogo" /> </td>
            </ng-container>
          
            <ng-container matColumnDef="damage">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> DAMAGE </th>
              <td mat-cell *matCellDef="let element"
              [ngStyle]="{'background-color' : element.damage <= 250 ? 'green' : (element.damage > 250 && element.damage <= 750 ? 'yellow' : 'red')}"> {{element.damage}} </td>
            </ng-container>
           
            <ng-container matColumnDef="assists">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ASSISTS </th>
              <td mat-cell *matCellDef="let element">{{element.assists}}</td>
            </ng-container>
        
            <ng-container matColumnDef="inDamage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> DMG TAKEN </th>
                <td mat-cell *matCellDef="let element">{{element.inDamage}}</td>
              </ng-container>
        
              <ng-container matColumnDef="knockouts">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> KNOCKS </th>
                <td mat-cell *matCellDef="let element">{{element.knockouts}}</td>
              </ng-container>

              <ng-container matColumnDef="killNum">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> KILLS </th>
                <td mat-cell *matCellDef="let element">{{element.killNum}}</td>
              </ng-container>
           
            <tr mat-header-row class="row-header" *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card>
    </div>
    </div>
