<div class="body">

<div class="table-container">
    <mat-card>
      <table mat-table  [dataSource]="dataSource" class="team-table mat-elevation-z8" *ngIf="dataSource">
        <ng-container matColumnDef="rank">
          <th mat-header-cell *matHeaderCellDef> RANK </th>
          <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
        </ng-container>
      
        <ng-container matColumnDef="teamId">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.teamId}} </td>
        </ng-container>
      
        <ng-container matColumnDef="teamLogo">
          <th mat-header-cell *matHeaderCellDef> LOGO </th>
          <td mat-cell *matCellDef="let element"><img [src]="element.teamLogo" /> </td>
        </ng-container>
      
        <ng-container matColumnDef="teamName">
          <th mat-header-cell *matHeaderCellDef> NAME </th>
          <td mat-cell *matCellDef="let element"> {{element.teamName}} </td>
        </ng-container>
      
        <ng-container *ngFor="let column of columnsToDisplay">
          <ng-container *ngIf="column.startsWith('elimsM') || column.startsWith('plcM') " [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
            <td mat-cell *matCellDef="let element" [ngClass]="getCellClass(column)"> {{ element[column] }} </td>
          </ng-container>
        </ng-container>

        <ng-container matColumnDef="totalPoints">
          <th mat-header-cell *matHeaderCellDef> TOTAL </th>
          <td mat-cell *matCellDef="let element">{{element.totalPoints}}</td>
        </ng-container>
      
        <tr mat-header-row class="row-header" *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
    </mat-card>
</div>

</div>