@font-face {
    font-family: 'TT Supermolot Neue Cond';
    src: local('TT Supermolot Neue Condensed ExtraLight Italic'), local('TTSupermolotNeue-CondXLightIt'),
        url('TTSupermolotNeue-CondXLightIt.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue Exp';
    src: local('TT Supermolot Neue Expanded Black Italic'), local('TTSupermolotNeue-ExpBlackIt'),
        url('TTSupermolotNeue-ExpBlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue';
    src: local('TT Supermolot Neue Thin Italic'), local('TTSupermolotNeue-ThinItalic'),
        url('TTSupermolotNeue-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue Exp DBold';
    src: local('TT Supermolot Neue Expanded DemiBold'), local('TTSupermolotNeue-ExpDBold'),
        url('TTSupermolotNeue-ExpDBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue Exp';
    src: local('TT Supermolot Neue Expanded Black'), local('TTSupermolotNeue-ExpBlack'),
        url('TTSupermolotNeue-ExpBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue';
    src: local('TT Supermolot Neue Medium'), local('TTSupermolotNeue-Medium'),
        url('TTSupermolotNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue';
    src: local('TT Supermolot Neue Medium Italic'), local('TTSupermolotNeue-MediumItalic'),
        url('TTSupermolotNeue-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue';
    src: local('TT Supermolot Neue ExtraLight Italic'), local('TTSupermolotNeue-ExtraLightItalic'),
        url('TTSupermolotNeue-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue Cond';
    src: local('TT Supermolot Neue Condensed Thin'), local('TTSupermolotNeue-CondThin'),
        url('TTSupermolotNeue-CondThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'neueCondMedIta';
    src: local('TT Supermolot Neue Condensed Medium Italic'), local('TTSupermolotNeue-CondMedItalic'),
        url('TTSupermolotNeue-CondMedItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue Exp DBold';

    src: local('TT Supermolot Neue Expanded ExtraBold'), local('TTSupermolotNeue-ExpXBold'),
        url('TTSupermolotNeue-ExpXBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue Exp';
    src: local('TT Supermolot Neue Expanded ExtraLight'), local('TTSupermolotNeue-ExpXLight'),
        url('TTSupermolotNeue-ExpXLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue Cond';
    src: local('TT Supermolot Neue Condensed Black'), local('TTSupermolotNeue-CondBlack'),
        url('TTSupermolotNeue-CondBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue';
    src: local('TT Supermolot Neue ExtraBold Italic'), local('TTSupermolotNeue-ExtraBoldItalic'),
        url('TTSupermolotNeue-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue';
    src: local('TT Supermolot Neue Regular'), local('TTSupermolotNeue-Regular'),
        url('TTSupermolotNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue Cond';
    src: local('TT Supermolot Neue Condensed Regular'), local('TTSupermolotNeue-CondRegular'),
        url('TTSupermolotNeue-CondRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue Exp';
    src: local('TT Supermolot Neue Expanded Medium'), local('TTSupermolotNeue-ExpMed'),
        url('TTSupermolotNeue-ExpMed.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue Exp';
    src: local('TT Supermolot Neue Expanded Light Italic'), local('TTSupermolotNeue-ExpLightIt'),
        url('TTSupermolotNeue-ExpLightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue';
    src: local('TT Supermolot Neue DemiBold'), local('TTSupermolotNeue-DemiBold'),
        url('TTSupermolotNeue-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue Cond';
    src: local('TT Supermolot Neue Condensed Light Italic'), local('TTSupermolotNeue-CondLightIt'),
        url('TTSupermolotNeue-CondLightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue';
    src: local('TT Supermolot Neue Light Italic'), local('TTSupermolotNeue-LightItalic'),
        url('TTSupermolotNeue-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue Cond DBold';

    src: local('TT Supermolot Neue Condensed ExtraBold'), local('TTSupermolotNeue-CondXBold'),

        url('TTSupermolotNeue-CondXBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'neueExpBold';

    src: local('TT Supermolot Neue Expanded Bold'), local('TTSupermolotNeue-ExpBold'),

        url('TTSupermolotNeue-ExpBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue Exp';

    src: local('TT Supermolot Neue Expanded Medium Italic'), local('TTSupermolotNeue-ExpMedItalic'),

        url('TTSupermolotNeue-ExpMedItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue Exp';

    src: local('TT Supermolot Neue Expanded Thin Italic'), local('TTSupermolotNeue-ExpThinIt'),

        url('TTSupermolotNeue-ExpThinIt.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue';

    src: local('TT Supermolot Neue Thin'), local('TTSupermolotNeue-Thin'),

        url('TTSupermolotNeue-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue Exp';

    src: local('TT Supermolot Neue Expanded Thin'), local('TTSupermolotNeue-ExpThin'),

        url('TTSupermolotNeue-ExpThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'neueDemiBI';

    src: local('TT Supermolot Neue DemiBold Italic'), local('TTSupermolotNeue-DemiBoldItalic'),

        url('TTSupermolotNeue-DemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue Exp DBold';

    src: local('TT Supermolot Neue Expanded DemiBold Italic'), local('TTSupermolotNeue-ExpDBoldIt'),

        url('TTSupermolotNeue-ExpDBoldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue';

    src: local('TT Supermolot Neue Italic'), local('TTSupermolotNeue-Italic'),

        url('TTSupermolotNeue-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue';

    src: local('TT Supermolot Neue Light'), local('TTSupermolotNeue-Light'),

        url('TTSupermolotNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue';

    src: local('TT Supermolot Neue Black Italic'), local('TTSupermolotNeue-BlackItalic'),

        url('TTSupermolotNeue-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue Cond DBold';

    src: local('TT Supermolot Neue Condensed DemiBold'), local('TTSupermolotNeue-CondDBold'),

        url('TTSupermolotNeue-CondDBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue Cond';

    src: local('TT Supermolot Neue Condensed ExtraLight'), local('TTSupermolotNeue-CondXLight'),

        url('TTSupermolotNeue-CondXLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue';

    src: local('TT Supermolot Neue ExtraBold'), local('TTSupermolotNeue-ExtraBold'),

        url('TTSupermolotNeue-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue';

    src: local('TT Supermolot Neue Bold'), local('TTSupermolotNeue-Bold'),

        url('TTSupermolotNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue Exp';

    src: local('TT Supermolot Neue Expanded Light'), local('TTSupermolotNeue-ExpLight'),

        url('TTSupermolotNeue-ExpLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue Exp DBold';

    src: local('TT Supermolot Neue Expanded ExtraBold Italic'), local('TTSupermolotNeue-ExpXBoldIt'),

        url('TTSupermolotNeue-ExpXBoldIt.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'neueCondBlackIt';

    src: local('TT Supermolot Neue Condensed Black Italic'), local('TTSupermolotNeue-CondBlackIt'),

        url('TTSupermolotNeue-CondBlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue Cond';

    src: local('TT Supermolot Neue Condensed Medium'), local('TTSupermolotNeue-CondMed'),

        url('TTSupermolotNeue-CondMed.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'neueExpBI';

    src: local('TT Supermolot Neue Expanded Bold Italic'), local('TTSupermolotNeue-ExpBoldIt'),

        url('TTSupermolotNeue-ExpBoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'neueCondBold';

    src: local('TT Supermolot Neue Condensed Bold'), local('TTSupermolotNeue-CondBold'),

        url('TTSupermolotNeue-CondBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue';

    src: local('TT Supermolot Neue ExtraLight'), local('TTSupermolotNeue-ExtraLight'),

        url('TTSupermolotNeue-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue Exp';

    src: local('TT Supermolot Neue Expanded Italic'), local('TTSupermolotNeue-ExpItalic'),

        url('TTSupermolotNeue-ExpItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue Cond';

    src: local('TT Supermolot Neue Condensed Thin Italic'), local('TTSupermolotNeue-CondThinIt'),

        url('TTSupermolotNeue-CondThinIt.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue';

    src: local('TT Supermolot Neue Bold Italic'), local('TTSupermolotNeue-BoldItalic'),

        url('TTSupermolotNeue-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'neueCondBI';

    src: local('TT Supermolot Neue Condensed Bold Italic'), local('TTSupermolotNeue-CondBoldIt'),

        url('TTSupermolotNeue-CondBoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue Exp';

    src: local('TT Supermolot Neue Expanded Regular'), local('TTSupermolotNeue-ExpRegular'),

        url('TTSupermolotNeue-ExpRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue Cond';

    src: local('TT Supermolot Neue Condensed Light'), local('TTSupermolotNeue-CondLight'),

        url('TTSupermolotNeue-CondLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Supermolot Neue Cond DBold';

    src: local('TT Supermolot Neue Condensed ExtraBold Italic'), local('TTSupermolotNeue-CondXBoldIt'),

        url('TTSupermolotNeue-CondXBoldIt.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue Exp';

    src: local('TT Supermolot Neue Expanded ExtraLight Italic'), local('TTSupermolotNeue-ExpXLightIt'),

        url('TTSupermolotNeue-ExpXLightIt.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue Cond';

    src: local('TT Supermolot Neue Condensed Italic'), local('TTSupermolotNeue-CondItalic'),

        url('TTSupermolotNeue-CondItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Supermolot Neue';

    src: local('TT Supermolot Neue Black'), local('TTSupermolotNeue-Black'),

        url('TTSupermolotNeue-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'neueCondDBI';

    src: local('TT Supermolot Neue Condensed DemiBold Italic'), local('TTSupermolotNeue-CondDBoldItalic'),

        url('TTSupermolotNeue-CondDBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}