<mat-card class="header-card">
    <mat-card-header>
        <mat-card-subtitle *ngIf="casterDisabled" >Calculate the game standing</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="stats-container">
          <span  *ngFor="let player of matchLengths; let i = index" [matBadge]="player" 
          [ngStyle]="{'background-color' : player > 0 ? 'green' : 'red'}" > {{ i + 1 }} MATCH </span>     
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
<button mat-raised-button color="primary" *ngIf="casterDisabled"  (click)="saveOverallStanding()">Upload</button>
    </mat-card-actions>

</mat-card>

<div class="table-container">

<mat-card>
<table mat-table [dataSource]="dataSource" class="team-table mat-elevation-z8" *ngIf="dataSource" >

    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef> RANK </th>
      <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
    </ng-container>
    
    <ng-container matColumnDef="teamLogo">
      <th mat-header-cell *matHeaderCellDef> LOGO </th>
      <td mat-cell *matCellDef="let element"><img [src]="element.teamLogo" /> </td>
    </ng-container>
   
    <ng-container matColumnDef="teamName">
      <th mat-header-cell *matHeaderCellDef> NAME </th>
      <td mat-cell *matCellDef="let element"> {{element.teamName}} </td>
    </ng-container>

    <ng-container matColumnDef="wwcd">
      <th mat-header-cell *matHeaderCellDef> WINS </th>
      <td mat-cell *matCellDef="let element"> {{element.wins}} </td>
    </ng-container>
    
    <ng-container matColumnDef="killNum">
      <th mat-header-cell *matHeaderCellDef> ELIMS </th>
      <td mat-cell *matCellDef="let element">{{element.killNum}}</td>
    </ng-container>
 
    <ng-container matColumnDef="placementPoints">
        <th mat-header-cell *matHeaderCellDef> PLACEMENT </th>
        <td mat-cell *matCellDef="let element">{{element.placementPoints}}</td>
      </ng-container>
 
      <ng-container matColumnDef="totalPoints">
        <th mat-header-cell *matHeaderCellDef> TOTAL </th>
        <td mat-cell *matCellDef="let element">{{element.totalPoints}}</td>
      </ng-container>
    
    <tr mat-header-row class="row-header" *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
</div>