@font-face {
    font-family: 'superCondBold';
    src: local('TT Supermolot Condensed Bold'), local('TTSupermolotCondensed-Bold'),
        url('TTSupermolotCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'superCondBlack';
    src: local('TT Supermolot Condensed Black'), local('TTSupermolotCondensed-Black'),
        url('TTSupermolotCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'superCondLI';
    src: local('TT Supermolot Condensed Light Italic'), local('TTSupermolotCondensed-LightItalic'),
        url('TTSupermolotCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'superCondItalic';
    src: local('TT Supermolot Condensed Italic'), local('TTSupermolotCondensed-Italic'),
        url('TTSupermolotCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'superCondThin';
    src: local('TT Supermolot Condensed Thin'), local('TTSupermolotCondensed-Thin'),
        url('TTSupermolotCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'superCondReg';
    src: local('TT Supermolot Condensed Regular'), local('TTSupermolotCondensed-Regular'),
        url('TTSupermolotCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'superCondBI';
    src: local('TT Supermolot Condensed Bold Italic'), local('TTSupermolotCondensed-BoldItalic'),
        url('TTSupermolotCondensed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'superCondLight';
    src: local('TT Supermolot Condensed Light'), local('TTSupermolotCondensed-Light'),
        url('TTSupermolotCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'superCondTI';
    src: local('TT Supermolot Condensed Thin Italic'), local('TTSupermolotCondensed-ThinItalic'),
        url('TTSupermolotCondensed-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'superCondBI1';
    src: local('TT Supermolot Condensed Black Italic'), local('TTSupermolotCondensed-BlackItalic'),
        url('TTSupermolotCondensed-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}