<div class="container-box" [@slideInOutAnimationRight] = "top5boolean ? 'in' : 'out'">
  <table mat-table [dataSource]="dataSource" *ngIf="dataSource">
    <ng-container matColumnDef="logoPicUrl">
      <th mat-header-cell *matHeaderCellDef></th>
      <td
        mat-cell
        class="logo-container"
        *matCellDef="let element"
        [style.background-color]="getRankCellBackgroundColor(element)"
      >
        <img  [src]="element.logoPicUrl" />
        <!-- <img
          *ngIf="element.liveMemberNum < 1"
          src="../../assets/Logo/skull.png"
        /> -->
      </td>
    </ng-container>

   <ng-container matColumnDef="teamTag">
      <th mat-header-cell class="teamNameHeader" *matHeaderCellDef>TEAMS</th>
      <td
        mat-cell
        class="teamNameCell"
        *matCellDef="let element"
        [style.background-color]="
          element.liveMemberNum < 1 ? '#484849' : '#131213'
        "
      >
        {{ element.teamTag }}
      </td>
    </ng-container>

    <ng-container matColumnDef="killNum">
      <th mat-header-cell *matHeaderCellDef>ELIMS</th>
      <td
        mat-cell
        class="killCell"
        *matCellDef="let element"
        [style.background-color]="
          element.liveMemberNum < 1 ? '#484849' : '#131213'
        "
      >
        {{ element.killNum }}
      </td>
    </ng-container>

    <ng-container matColumnDef="liveMemberNum">
      <th mat-header-cell class="aliveHeaderCell" *matHeaderCellDef>ALIVE</th>
      <td
        mat-cell
        class="aliveCell"
        *matCellDef="let element"
        [style.background-color]="
          element.liveMemberNum < 1 ? '#484849' : '#131213'
        "
      >
        <div class="alive-container">
          <div
            *ngFor="let player of element.players"
            class="aliveStatus"
            [style.background-color]="
              player.liveState === 5
                ? 'grey'
                : player.liveState === 4
                ? '#b66a06'
                : '#e42236'
            "
          ></div>
        </div>
      </td>
    </ng-container>

    <tr
      #test
      mat-header-row
      class="mat-header-row"
      *matHeaderRowDef="displayedColumns"
    ></tr>
    <tr
      mat-row
      [ngClass]="{
        imageDead: element.liveMemberNum < 1,
        aliveRowbackground: element.liveMemberNum >= 1
      }"
      *matRowDef="
        let row;
        let element;
        let i = index;
        columns: displayedColumns
      "
    ></tr>
  </table>
</div>
