<div class="container-box" >
  <table mat-table [dataSource]="dataSource" *ngIf="dataSource" >
    <ng-container matColumnDef="logoPicUrl">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell class="logo-container" *matCellDef="let element" [ngClass]="getRankCellClass(element)">
        <img  [src]="element.logoPicUrl" />
      </td>
    </ng-container>

   <ng-container matColumnDef="teamTag">
      <th mat-header-cell class="teamNameHeader" *matHeaderCellDef>TEAMS</th>
      <td
        mat-cell
        class="teamNameCell"
        *matCellDef="let element"
        [ngClass]="getRankCellClass(element)"
      >
        {{ element.teamTag }}
      </td>
    </ng-container>

    <ng-container matColumnDef="killNum">
      <th class="testHeader" mat-header-cell *matHeaderCellDef>ELIMS</th>
      <td
        mat-cell
        class="killCell"
        *matCellDef="let element"
        [ngClass]="getRankCellClass(element)"
      >
        {{ element.killNum }}
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="liveMemberNum">
      <th mat-header-cell class="aliveHeaderCell" *matHeaderCellDef><img class="header-logo" src="assets/HealthIcon2x.png"/></th>
      <td mat-cell class="aliveCell" *matCellDef="let element" [ngClass]="getRankCellClass(element)">
        <div class="alive-container">
          <div
            *ngFor="let player of element.players"
            class="aliveStatus"
            [style.background-color]="
              player.liveState === 5
                ? 'grey'
                : player.liveState === 4
                ? '#e42236'
                : '#2a5bd8'
            "
          ></div>
        </div>
      </td>
    </ng-container> -->

<ng-container matColumnDef="liveMemberNum">
  <th mat-header-cell class="aliveHeaderCell" *matHeaderCellDef>
    <img class="header-logo" src="assets/HealthIcon2x.png" />
  </th>
  <td
    mat-cell
    class="aliveCell"
    *matCellDef="let element"
    [ngClass]="getRankCellClass(element)"
  >
    <div class="alive-container">
      <mat-progress-bar
      *ngFor="let player of element.players"
      class="progressBar"
      [value]="player.health"
      [color]="player.liveState === 4
      ? 'warn'
      : 'primary'
  "
    ></mat-progress-bar>
    </div>
  </td>
</ng-container>

    <tr #test mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [ngClass]="{ imageDead: element.liveMemberNum < 1, aliveRowbackground: element.liveMemberNum >= 1 }"
      *matRowDef=" let row; let element; let i = index; columns: displayedColumns "></tr>
  </table>
  <div class="status-container">
    <div class="status">
      <div class="box alive-status"></div>
      <span>Alive</span>
    </div>
    <div class="status">
      <div class="box knocked-status"></div>
      <span>Knocked</span>
    </div>
    <div class="status">
      <div class="box eliminated-status"></div>
      <span>Eliminated</span>
    </div>

  </div>
</div>
