/* You can add global styles to this file, and also import other style files */

html,
body {
  width: auto;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
}

body {
  background-color: transparent;
}

@import url("./assets/fonts/font.scss");


:root {
  --primary-color: #0a0c12;
  --secondary-color: #ff002a;
  --tertiary-color: #ffffff;
}

button {
  margin-left: 8px;
}

span {
  font-family: 'monoReg';
}

:host ::ng-deep .mat-list-item-content {
  font-family: 'monoReg';
}