<div class="ss-container">
    <div class="left-side">
        <!-- <app-player-top5></app-player-top5> -->
    </div>
    <div class="middle-side">
  <div class="top">
        <!-- <app-survival-status-top5></app-survival-status-top5>  -->
    </div> 
    <div class="mid">
        <!-- <app-zone-progressbar></app-zone-progressbar> -->
        </div>
        <div class="center-bottom">
            <app-obs2-player></app-obs2-player>
        </div>
    </div>

    <!-- <div class="right-side" [@slideInOutAnimationRight] = "showSurvivalStatus ? 'in' : 'out'">
        <app-announcement-bar></app-announcement-bar>
        <app-annoucement-elims></app-annoucement-elims>
    <app-survival-status></app-survival-status>
    </div> -->
</div>