
<!-- <app-survival-status [@slideInOutAnimationRight]="top5boolean ? 'in' : 'out'"></app-survival-status> -->
<!-- <app-obs-player ></app-obs-player> -->
<!-- <app-survival-status-top5 [@slideUpDown]="!top5boolean ? 'down' : 'up'"></app-survival-status-top5> -->

<app-survival-status></app-survival-status>
<app-obs-player ></app-obs-player>
<app-survival-status-top5></app-survival-status-top5>
<app-player-top5></app-player-top5>
<app-zone-progressbar class="test"></app-zone-progressbar>
<app-announcement-bar></app-announcement-bar>
<!-- <app-annoucement-elims></app-annoucement-elims> -->